.add-post-button {
    margin-top: 20px; /* 버튼과 이전 요소 사이의 간격 조절 */
  }
  
  .add-post-button button {
    padding: 10px 15px; /* 버튼 내부 여백 설정 */
    font-size: 16px; /* 버튼 텍스트 크기 설정 */
    background-color: #666a6b; /* 버튼 배경색 설정 */
    color: #fff; /* 버튼 텍스트 색상 설정 */
    border: none; /* 테두리 없앰 */
    border-radius: 5px; /* 버튼 모서리 둥글게 설정 */
    cursor: pointer; /* 커서 모양 설정 */
    transition: background-color 0.3s, color 0.3s; /* 배경색 및 텍스트 색상 전환 효과 설정 */
    font-family: 'ONE-Mobile-Title';
  }
  
  /* .add-post-button button:hover {
    background-color: #666a6b; 
    color: #fff;
  */

.add-category-button {
    margin-top: 10px; /* 버튼과 이전 요소 사이의 간격을 줄임 */
}

.add-category-button button {
    padding: 8px 15px; /* 버튼 내부 여백을 조정 */
    font-size: 14px; /* 버튼 텍스트 크기를 조정 */
    background-color: #666a6b; /* 버튼 배경색을 설정 */
    color: #fff; /* 버튼 텍스트 색상을 설정 */
    border: none; /* 테두리 없앰 */
    border-radius: 5px; /* 버튼 모서리 둥글게 설정 */
    cursor: pointer; /* 커서 모양 설정 */
    transition: background-color 0.3s, color 0.3s; /* 배경색 및 텍스트 색상 전환 효과 설정 */
    font-family: 'ONE-Mobile-Title';
}

.add-category-button button:hover {
    background-color: #585353; 
    color: #fff;
}

.add-save-button {
    margin-top: 25px; /* 버튼과 이전 요소 사이의 간격을 조절 */
}

.add-save-button button {
    padding: 5px 5px; /* 버튼 내부 여백 설정 */
    font-size: 16px; /* 버튼 텍스트 크기 설정 */
    background-color: transparent; /* 배경색 없음 */
    color: #666a6b; /* 버튼 텍스트 색상 설정 */
    border: 1px solid #666a6b; /* 테두리 설정 */
    border-radius: 5px; /* 버튼 모서리 둥글게 설정 */
    cursor: pointer; /* 커서 모양 설정 */
    transition: background-color 0.3s, color 0.3s; /* 배경색 및 텍스트 색상 전환 효과 설정 */
    font-family: 'ONE-Mobile-Title';
}

.post-form {
    background-color: #fff; /* 배경색 지정 */
    padding: 20px; /* 패딩 조정 */
    border-radius: 10px; /* 모서리 둥글게 조정 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* 그림자 추가 */
    max-width: 500px; /* 최대 너비 지정 */
    margin: 20px auto; /* 중앙 정렬을 위한 마진 추가 */
    font-family: 'ONE-Mobile-Title';
}
  
.post-form label {
    display: block;
    margin-bottom: 8px;
}
  
.post-form input,
.post-form textarea,
.post-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
.post-form button {
    background-color: #ccc;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'ONE-Mobile-Title';
}
  
.post-form button:hover {
    background-color: #585353;
}

#category-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#category-list li {
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

#category-list li:hover {
    background-color: #E8E8E8;
    color: #000;
}

/* Active Category Styling */
.active-category {
    background-color: #D8D8D8;
    color: #000;
    font-weight: bold;
}

aside {
    /* Existing styles... */
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    justify-content: center; /* Aligns content to the center */
    padding: 20px;
    font-family: 'ONE-Mobile-Title';
}

.category-box {
    width: 90%; /* Adjust as needed */
    background-color: #fff; /* Box background color */
    padding: 20px;
    margin-top: 100px; /* Space from top */
    border-radius: 10px; /* Rounded corners */
    text-align: center; /* Center-align the heading */
}

#category-list {
    padding-top: 10px; /* Space between heading and list */
    /* Rest of your styles... */
}

.post-details {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff; /* Background color for the box */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* Shadow for depth */
    border-radius: 8px; /* Rounded corners */
    max-width: 800px; /* Adjust the width as per your layout */
}
  
.post-details h3 {
margin-top: 0;
color: #333; /* Title color */
font-size: 1.5em; /* Title size */
}

.post-details p {
color: #666; /* Content color */
line-height: 1.6; /* Improve readability */
}

.posts-container {
    padding-top: 50px;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Adjust the space between posts */
}



.post-item {
    background-color: #fff; /* Background color for the box */
    padding: 20px;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Shadow for depth */
    cursor: pointer; /* Change cursor on hover */
    transition: transform 0.2s; /* Smooth transition for click effect */
    height: 100px; /* Double the height */
    width: 500px;
    overflow: hidden;
}

.post-item:hover {
    transform: scale(1.02); /* Slight increase in size on hover */
}

.post-item {
    /* ... existing styles ... */
    transition: all 0.3s ease; /* Smooth transition for expanding effect */
}

.expanded {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 10;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.expanded-content {
    max-width: 80%; /* Limit the width of the expanded content */
    padding: 20px; /* Add padding for spacing */
    text-align: left; /* Align text to the left */
}

.delete-btn {
    position: absolute;
    bottom: 200px; /* 상단 여백 조정 */
    right: 300px; /* 우측 여백 조정 */
    padding: 5px 10px; /* 버튼 내부 여백 설정 */
    font-size: 14px; /* 버튼 텍스트 크기 설정 */
    background-color: #fff; /* 배경색을 흰색으로 설정 */
    color: #666a6b; /* 텍스트 색상 설정 */
    border: 1px solid #666a6b; /* 테두리 설정 */
    border-radius: 5px; /* 모서리 둥글게 설정 */
    cursor: pointer; /* 커서 모양 설정 */
    transition: background-color 0.3s, color 0.3s; /* 배경색 및 텍스트 색상 전환 효과 설정 */
    
}

.delete-btn:hover {
    background-color: #ccc; /* 호버 시 배경색 변경 */
    color: #fff; /* 호버 시 텍스트 색상 변경 */
}

.update-btn {
    position: absolute;
    bottom: 200px; /* 상단 여백 조정 */
    right: 350px; /* 우측 여백 조정 */
    padding: 5px 10px; /* 버튼 내부 여백 설정 */
    font-size: 14px; /* 버튼 텍스트 크기 설정 */
    background-color: #fff; /* 배경색을 흰색으로 설정 */
    color: #666a6b; /* 텍스트 색상 설정 */
    border: 1px solid #666a6b; /* 테두리 설정 */
    border-radius: 5px; /* 모서리 둥글게 설정 */
    cursor: pointer; /* 커서 모양 설정 */
    transition: background-color 0.3s, color 0.3s; /* 배경색 및 텍스트 색상 전환 효과 설정 */
}

.update-btn:hover {
    background-color: #ccc; /* 호버 시 배경색 변경 */
    color: #fff; /* 호버 시 텍스트 색상 변경 */
}

.close-btn {
    position: absolute;
    top: 200px; /* 상단 여백 조정 */
    right: 300px; /* 우측 여백 조정 */
    cursor: pointer;
    padding: 10px 15px; /* 내부 여백 설정 */
    font-size: 16px; /* 텍스트 크기 설정 */
    background-color: #ccc; /* 배경색 설정 */
    color: white; /* 텍스트 색상 설정 */
    border: none; /* 테두리 없앰 */
    border-radius: 5px; /* 모서리 둥글게 설정 */
    transition: background-color 0.3s, color 0.3s; /* 배경색 및 텍스트 색상 전환 효과 설정 */
}

.close-btn:hover {
    background-color: #585353; /* 호버 시 배경색 변경 */
}

@font-face {
    font-family: 'ONE-Mobile-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}